In [1]:
total = 365 * 24

In [7]:
one = 0.3

In [10]:
total * one / 60

43.8

In [16]:
18000 * total * 4 * 28 / (1024 ** 3)

16.44730567932129

In [17]:
import sys

In [18]:
sys.getsizeof(45.6)

24

In [19]:
d = {4, 5, 6, 7, 8, 9}

In [20]:
d[:3]

TypeError: 'set' object is not subscriptable

In [21]:
L = list(range(20))

In [22]:
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
L[-2:]

[18, 19]

In [28]:
L[:-2]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [31]:
10 / 15000 * 100

0.06666666666666667

In [7]:
import tables

In [8]:
h5_file = tables.open_file('test.h5', 'w')

In [9]:
g = h5_file.create_group('/', 'g1')

In [10]:
g

/g1 (Group) ''
  children := []

In [11]:
h5_file.root._f_getChild('g1')

/g1 (Group) ''
  children := []

In [12]:
h5_file.root._f_get_child

<bound method RootGroup._f_get_child of / (RootGroup) ''
  children := ['g1' (Group)]>

In [15]:
class MyTable(tables.IsDescription):
    name = tables.StringCol(10)
t = h5_file.create_table(g, 't1', MyTable)

In [ ]:
t = h5_file.create_table

In [41]:
total * 15000

131400000

In [45]:
h5_file.create_table?

In [16]:
row = t.row
for x in range(100):
    row['name'] = str(x)
    row.append()

In [17]:
t

/g1/t1 (Table(0,)) ''
  description := {
  "name": StringCol(itemsize=10, shape=(), dflt=b'', pos=0)}
  byteorder := 'little'
  chunkshape := (6553,)

In [19]:
h5_file.flush()

In [20]:
t[:]

array([(b'0',), (b'1',), (b'2',), (b'3',), (b'4',), (b'5',), (b'6',),
       (b'7',), (b'8',), (b'9',), (b'10',), (b'11',), (b'12',), (b'13',),
       (b'14',), (b'15',), (b'16',), (b'17',), (b'18',), (b'19',),
       (b'20',), (b'21',), (b'22',), (b'23',), (b'24',), (b'25',),
       (b'26',), (b'27',), (b'28',), (b'29',), (b'30',), (b'31',),
       (b'32',), (b'33',), (b'34',), (b'35',), (b'36',), (b'37',),
       (b'38',), (b'39',), (b'40',), (b'41',), (b'42',), (b'43',),
       (b'44',), (b'45',), (b'46',), (b'47',), (b'48',), (b'49',),
       (b'50',), (b'51',), (b'52',), (b'53',), (b'54',), (b'55',),
       (b'56',), (b'57',), (b'58',), (b'59',), (b'60',), (b'61',),
       (b'62',), (b'63',), (b'64',), (b'65',), (b'66',), (b'67',),
       (b'68',), (b'69',), (b'70',), (b'71',), (b'72',), (b'73',),
       (b'74',), (b'75',), (b'76',), (b'77',), (b'78',), (b'79',),
       (b'80',), (b'81',), (b'82',), (b'83',), (b'84',), (b'85',),
       (b'86',), (b'87',), (b'88',), (b'89',), (b'90',), (b'91',),
       (b'92',), (b'93',), (b'94',), (b'95',), (b'96',), (b'97',),
       (b'98',), (b'99',)],
      dtype=[('name', 'S10')])

In [ ]:
for line in t:
    print(line.fetch_all_fields())

In [54]:
t[:10]

array([(b'0',), (b'1',), (b'2',), (b'3',), (b'4',), (b'5',), (b'6',),
       (b'7',), (b'8',), (b'9',)],
      dtype=[('name', 'S10')])

In [64]:
for row in t:
    row['name'] = 'new'
    row.update()
h5_file.flush()

In [65]:
t[:10]

array([(b'new',), (b'new',), (b'new',), (b'new',), (b'new',), (b'new',),
       (b'new',), (b'new',), (b'new',), (b'new',)],
      dtype=[('name', 'S10')])

In [62]:
t.row.update?

In [66]:
h5_file.create_table?

In [67]:
tables.parameters.EXPECTED_ROWS_TABLE

10000

In [68]:
import sys

In [71]:
sys.getsizeof(26569.656)

24

In [72]:
sys.getsizeof(b'0')

34

In [73]:
total

8760

In [74]:
ids = 18000

In [77]:
a = total * ids * 3

In [78]:
'{:e}'.format(a)

'4.730400e+08'

In [84]:
a * 28 / (1024 ** 3)

12.335479259490967

In [85]:
import pathlib

In [87]:
p = pathlib.Path('.')

In [88]:
p.exists()

True

In [89]:
import shutil

In [90]:
shutil.rmtree?

In [91]:
p.rmdir?

In [92]:
shutil.copytree?

In [93]:
ls

 Volume in Laufwerk C: hat keine Bezeichnung.
 Volumeseriennummer: 62CF-80D5

 Verzeichnis von c:\Daten\Mike\projekte\2015_006_crosswater\Daten

09.08.2015  13:23    <DIR>          .
09.08.2015  13:23    <DIR>          ..
08.08.2015  22:56    <DIR>          .ipynb_checkpoints
01.08.2015  15:28    <DIR>          Discharge
08.08.2015  22:40    <DIR>          GIS
01.08.2015  15:29    <DIR>          Landuse
01.08.2015  15:29    <DIR>          Precipitation
01.08.2015  15:30    <DIR>          Temperature
09.08.2015  02:00            70.682 test.h5
09.08.2015  13:23            15.525 Untitled.ipynb
               2 Datei(en),         86.207 Bytes
               8 Verzeichnis(se), 493.283.311.616 Bytes frei

In [94]:
mkdir test

In [95]:
cd test

c:\Daten\Mike\projekte\2015_006_crosswater\Daten\test

In [96]:
mkdir src

In [98]:
!touch src/f2.txt

In [100]:
ls src

 Volume in Laufwerk C: hat keine Bezeichnung.
 Volumeseriennummer: 62CF-80D5

 Verzeichnis von c:\Daten\Mike\projekte\2015_006_crosswater\Daten\test\src

09.08.2015  13:26    <DIR>          .
09.08.2015  13:26    <DIR>          ..
09.08.2015  13:26                 0 f1.txt
09.08.2015  13:26                 0 f2.txt
               2 Datei(en),              0 Bytes
               2 Verzeichnis(se), 493.283.307.520 Bytes frei

In [101]:
shutil.copytree('src', 'dst')

'dst'

In [102]:
ls dst

 Volume in Laufwerk C: hat keine Bezeichnung.
 Volumeseriennummer: 62CF-80D5

 Verzeichnis von c:\Daten\Mike\projekte\2015_006_crosswater\Daten\test\dst

09.08.2015  13:26    <DIR>          .
09.08.2015  13:26    <DIR>          ..
09.08.2015  13:26                 0 f1.txt
09.08.2015  13:26                 0 f2.txt
               2 Datei(en),              0 Bytes
               2 Verzeichnis(se), 493.283.241.984 Bytes frei

In [105]:
from pathlib import Path

In [110]:
p = Path(Path().cwd())

In [111]:
p.parent

WindowsPath('c:/Daten/Mike/projekte/2015_006_crosswater/Daten')

In [112]:
p

WindowsPath('c:/Daten/Mike/projekte/2015_006_crosswater/Daten/test')

In [114]:
p.absolute()

WindowsPath('c:/Daten/Mike/projekte/2015_006_crosswater/Daten/test')

In [118]:
par = p.parents

In [120]:
list(par)

[WindowsPath('c:/Daten/Mike/projekte/2015_006_crosswater/Daten'),
 WindowsPath('c:/Daten/Mike/projekte/2015_006_crosswater'),
 WindowsPath('c:/Daten/Mike/projekte'),
 WindowsPath('c:/Daten/Mike'),
 WindowsPath('c:/Daten'),
 WindowsPath('c:/')]

In [121]:
p

WindowsPath('c:/Daten/Mike/projekte/2015_006_crosswater/Daten/test')

In [122]:
par[0]

WindowsPath('c:/Daten/Mike/projekte/2015_006_crosswater/Daten')

In [123]:
589.758 * 24

14154.192000000001

In [124]:
200 * 24

4800

In [125]:
900 * 24

21600

In [134]:
h5_file.get_node('/', 'g1')

/g1 (Group) ''
  children := ['t1' (Table)]

In [132]:
h5_file

File(filename=test.h5, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/g1 (Group) ''
/g1/t1 (Table(100,)) ''
  description := {
  "name": StringCol(itemsize=10, shape=(), dflt=b'', pos=0)}
  byteorder := 'little'
  chunkshape := (6553,)

In [135]:
import string

In [137]:
lay = Path('c:\Daten\Mike\projekte\2015_006_crosswater\rhine_model\templates\layout_atrazin.xml')

In [138]:
lay.name

'layout_atrazin.xml'

In [139]:
lay.stem

'layout_atrazin'

In [140]:
lay.suffix

'.xml'

In [141]:
g

/g1 (Group) ''
  children := ['t1' (Table)]

In [142]:
dir(g)

['_AttributeSet',
 '__class__',
 '__contains__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__lt__',
 '__members__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_c_classId',
 '_c_classid',
 '_c_lazy_children_attrs',
 '_f_close',
 '_f_copy',
 '_f_copyChildren',
 '_f_copy_children',
 '_f_delAttr',
 '_f_delattr',
 '_f_flush',
 '_f_getAttr',
 '_f_getChild',
 '_f_get_child',
 '_f_getattr',
 '_f_isVisible',
 '_f_isvisible',
 '_f_iterNodes',
 '_f_iter_nodes',
 '_f_listNodes',
 '_f_list_nodes',
 '_f_move',
 '_f_remove',
 '_f_rename',
 '_f_setAttr',
 '_f_setattr',
 '_f_walkGroups',
 '_f_walkNodes',
 '_f_walk_groups',
 '_f_walknodes',
 '_g_addChildrenNames',
 '_g_add_children_names',
 '_g_checkGroup',
 '_g_checkHasChild',
 '_g_checkName',
 '_g_checkNotContains',
 '_g_checkOpen',
 '_g_check_group',
 '_g_check_has_child',
 '_g_check_name',
 '_g_check_not_contains',
 '_g_check_open',
 '_g_close',
 '_g_closeDescendents',
 '_g_closeGroup',
 '_g_close_descendents',
 '_g_close_group',
 '_g_copy',
 '_g_copyAsChild',
 '_g_copyChildren',
 '_g_copy_as_child',
 '_g_copy_children',
 '_g_create',
 '_g_delLocation',
 '_g_del_location',
 '_g_delete',
 '_g_delfilters',
 '_g_flushGroup',
 '_g_flush_group',
 '_g_getChildGroupClass',
 '_g_getChildLeafClass',
 '_g_getGChildAttr',
 '_g_getLChildAttr',
 '_g_get_child_group_class',
 '_g_get_child_leaf_class',
 '_g_get_gchild_attr',
 '_g_get_lchild_attr',
 '_g_get_objinfo',
 '_g_getfilters',
 '_g_getnchildren',
 '_g_getparent',
 '_g_gettitle',
 '_g_join',
 '_g_listGroup',
 '_g_list_group',
 '_g_logCreate',
 '_g_logMove',
 '_g_log_create',
 '_g_log_move',
 '_g_maybeRemove',
 '_g_maybe_remove',
 '_g_move',
 '_g_moveNode',
 '_g_move_node',
 '_g_new',
 '_g_open',
 '_g_postInitHook',
 '_g_post_init_hook',
 '_g_preKillHook',
 '_g_pre_kill_hook',
 '_g_refNode',
 '_g_refnode',
 '_g_remove',
 '_g_removeAndLog',
 '_g_remove_and_log',
 '_g_setLocation',
 '_g_set_location',
 '_g_setfilters',
 '_g_settitle',
 '_g_unrefNode',
 '_g_unrefnode',
 '_g_updateDependent',
 '_g_updateLocation',
 '_g_update_dependent',
 '_g_update_location',
 '_g_widthWarning',
 '_g_width_warning',
 '_get_obj_info',
 '_v__deleting',
 '_v_attrs',
 '_v_children',
 '_v_depth',
 '_v_file',
 '_v_filters',
 '_v_groups',
 '_v_hidden',
 '_v_isopen',
 '_v_leaves',
 '_v_links',
 '_v_maxGroupWidth',
 '_v_maxTreeDepth',
 '_v_max_group_width',
 '_v_maxtreedepth',
 '_v_name',
 '_v_nchildren',
 '_v_new',
 '_v_new_filters',
 '_v_new_title',
 '_v_objectId',
 '_v_objectid',
 '_v_parent',
 '_v_pathname',
 '_v_title',
 '_v_unknown',
 '_v_version']

In [144]:
g._f_get_child('t1')

/g1/t1 (Table(100,)) ''
  description := {
  "name": StringCol(itemsize=10, shape=(), dflt=b'', pos=0)}
  byteorder := 'little'
  chunkshape := (6553,)

In [145]:
import contextlib

In [148]:
contextlib.suppress?

In [149]:
s = '"346352";"346350";"346351";"346358";"346359";"335656";"335654";"335655";"335652";"335651"'

In [152]:
[int(x[1:-1]) for x in s.split(';')]

[346352,
 346350,
 346351,
 346358,
 346359,
 335656,
 335654,
 335655,
 335652,
 335651]

In [153]:
322558 / 3600

89.59944444444444

In [156]:
30 * 365 * 24

262800

In [158]:
317894 / 3600 / 24

3.6793287037037037

In [161]:
import time

def make_time_hourly(time_string):
    """Create seconds since 1970 from date string."""
    time_format = '%Y-%m-%d %H:%M:%S'
    return int(time.mktime(time.strptime(time_string, time_format)))

In [162]:
make_time_hourly("2010-01-01 00:00:00")

1262300400

In [163]:
make_time_hourly("2010-01-01 01:00:00")

1262304000

In [165]:
8443 / 3600

2.3452777777777776

In [167]:
0.3452 * 60

20.712

In [168]:
90 / 24

3.75

In [170]:
800 / 60

13.333333333333334

In [171]:
1463.55 / 60

24.3925

In [173]:
h5_file.create_table?

In [174]:
1239 / 60

20.65

In [1]:
s = {1, 2, 3}

In [2]:
s.pop()

1

In [3]:
from pathlib import Path

In [4]:
p = Path('a/b')

In [5]:
p

WindowsPath('a/b')

In [6]:
p / 'x'

WindowsPath('a/b/x')

In [22]:
15400 / 60 / 60

4.277777777777778

In [24]:
pwd

'C:\\Daten\\Mike\\projekte\\2015_006_crosswater\\Daten'

In [27]:
import pandas as pd

In [40]:
out = pd.read_csv('test/out/out_335651.txt', delim_whitespace=True,usecols=['Q', 'CalcC_atrazin_335651'])

In [42]:
out.head()

      Q  CalcC_atrazin_335651
0  0.02                0.0000
1  0.02               11.7932
2  0.02               11.7932
3  0.02               11.7932
4  0.02               11.7932

In [48]:
index = out.columns

In [49]:
index

Index(['Q', 'CalcC_atrazin_335651'], dtype='object')

In [51]:
index.rename(['Q', 'C'])

Index(['Q', 'CalcC_atrazin_335651'], dtype='object', name=['Q', 'C'])

In [53]:
out.columns  = pd.Index(['Q', 'C'])

In [55]:
out.ghead()

AttributeError: 'DataFrame' object has no attribute 'ghead'

In [56]:
h5_file

File(filename=test.h5, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/g1 (Group) ''
/g1/t1 (Table(100,)) ''
  description := {
  "name": StringCol(itemsize=10, shape=(), dflt=b'', pos=0)}
  byteorder := 'little'
  chunkshape := (6553,)

In [62]:
h5_file.create_table?

In [61]:
tables.Time64Col

tables.description.Col._subclass_from_prefix.<locals>.NewCol

In [63]:
4000/60

66.66666666666667

In [64]:
15620 * 8760

136831200

In [65]:
3610000 /1e6

3.61

In [66]:
pwd

'C:\\Daten\\Mike\\projekte\\2015_006_crosswater\\Daten'

In [67]:
cd ..

C:\Daten\Mike\projekte\2015_006_crosswater

In [69]:
cd rhine_model/input/

C:\Daten\Mike\projekte\2015_006_crosswater\rhine_model\input

In [71]:
ls

 Volume in Laufwerk C: hat keine Bezeichnung.
 Volumeseriennummer: 62CF-80D5

 Verzeichnis von C:\Daten\Mike\projekte\2015_006_crosswater\rhine_model\input

15.08.2015  14:46    <DIR>          .
15.08.2015  14:46    <DIR>          ..
15.08.2015  14:23     1.656.663.388 catchment_input.h5
15.08.2015  14:29         1.061.489 catchment_input_small.h5
15.08.2015  14:29         1.061.489 play.h5
               3 Datei(en),  1.658.786.366 Bytes
               2 Verzeichnis(se), 485.543.616.512 Bytes frei

In [72]:
h5_file = tables.open_file('play.h5', mode='a')

In [74]:
h5_file.close()

In [81]:
cd ..

C:\Daten\Mike\projekte\2015_006_crosswater\rhine_model

In [83]:
cd output/

C:\Daten\Mike\projekte\2015_006_crosswater\rhine_model\output

In [84]:
ls

 Volume in Laufwerk C: hat keine Bezeichnung.
 Volumeseriennummer: 62CF-80D5

 Verzeichnis von C:\Daten\Mike\projekte\2015_006_crosswater\rhine_model\output

15.08.2015  08:45    <DIR>          .
15.08.2015  08:45    <DIR>          ..
15.08.2015  10:17       503.972.378 catchment_output.h5
15.08.2015  14:48           280.266 catchment_output_small.h5
15.08.2015  08:46         3.729.819 catchment_output2.h5
               3 Datei(en),    507.982.463 Bytes
               2 Verzeichnis(se), 485.539.012.608 Bytes frei

In [141]:
h5_file = tables.open_file('catchment_output_small.h5', mode='a')

In [86]:
h5_file

File(filename=catchment_output_small.h5, title='Crosswater results', mode='a', root_uep='/', filters=Filters(complevel=0, shuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) 'Crosswater results'
/output (Table(78840,), shuffle, zlib(5)) ''
  description := {
  "catchment": StringCol(itemsize=10, shape=(), dflt=b'', pos=0),
  "concentration": Float64Col(shape=(), dflt=0.0, pos=1),
  "discharge": Float64Col(shape=(), dflt=0.0, pos=2),
  "timestep": Int32Col(shape=(), dflt=0, pos=3)}
  byteorder := 'little'
  chunkshape := (2184,)

In [142]:
table = h5_file.get_node('/output')

In [92]:
%%timeit
res = [row[:] for row in table.where('timestep == 1')]

100 loops, best of 3: 12.2 ms per loop

In [90]:
res

[(b'335651', 0.0, 0.02, 1),
 (b'335652', 0.0, 0.09, 1),
 (b'335654', 0.0, 9.0, 1),
 (b'335656', 0.0, 0.03, 1),
 (b'346350', 0.0, 0.22, 1),
 (b'346351', 0.0, 0.21, 1),
 (b'346352', 0.0, 0.08, 1),
 (b'346358', 0.0, 0.32, 1),
 (b'346359', 0.0, 0.4, 1)]

In [91]:
table.will_query_use_indexing('timestep == 1')

frozenset()

In [93]:
indexrows = table.cols.timestep.create_index()

In [94]:
indexrows

78840

In [95]:
table.will_query_use_indexing('timestep == 1')

frozenset({'timestep'})

In [96]:
%%timeit
res = [row[:] for row in table.where('timestep == 1')]

The slowest run took 325.80 times longer than the fastest. This could mean that an intermediate result is being cached
1000 loops, best of 3: 253 µs per loop

In [98]:
[row[:-1] for row in table.where('timestep == 1')]

[(b'335651', 0.0, 0.02),
 (b'335652', 0.0, 0.09),
 (b'335654', 0.0, 9.0),
 (b'335656', 0.0, 0.03),
 (b'346350', 0.0, 0.22),
 (b'346351', 0.0, 0.21),
 (b'346352', 0.0, 0.08),
 (b'346358', 0.0, 0.32),
 (b'346359', 0.0, 0.4)]

In [99]:
table.colnames

['catchment', 'concentration', 'discharge', 'timestep']

In [103]:
[row['catchment':'concentration'] for row in table.where('timestep == 1')]

TypeError: slice indices must be integers or None or have an __index__ method

In [104]:
test = tables.open_file('out.h5', 'w')

In [105]:
test

File(filename=out.h5, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''

In [106]:
group = test.create_group('/', 'step_1')

In [107]:
out_table = test.create_table(group, 'values', res)

In [109]:
out_table.flush()

In [110]:
out_table

/step_1/values (Table(9,)) ''
  description := {
  "f0": StringCol(itemsize=6, shape=(), dflt=b'', pos=0),
  "f1": Float64Col(shape=(), dflt=0.0, pos=1),
  "f2": Float64Col(shape=(), dflt=0.0, pos=2),
  "f3": Int32Col(shape=(), dflt=0, pos=3)}
  byteorder := 'little'
  chunkshape := (2520,)

In [111]:
table

/output (Table(78840,), shuffle, zlib(5)) ''
  description := {
  "catchment": StringCol(itemsize=10, shape=(), dflt=b'', pos=0),
  "concentration": Float64Col(shape=(), dflt=0.0, pos=1),
  "discharge": Float64Col(shape=(), dflt=0.0, pos=2),
  "timestep": Int32Col(shape=(), dflt=0, pos=3)}
  byteorder := 'little'
  chunkshape := (2184,)
  autoindex := True
  colindexes := {
    "timestep": Index(6, medium, shuffle, zlib(1)).is_csi=False}

In [112]:
test.create_table?

In [113]:
res = [row[:-1] for row in table.where('timestep == 1')]

In [114]:
res

[(b'335651', 0.0, 0.02),
 (b'335652', 0.0, 0.09),
 (b'335654', 0.0, 9.0),
 (b'335656', 0.0, 0.03),
 (b'346350', 0.0, 0.22),
 (b'346351', 0.0, 0.21),
 (b'346352', 0.0, 0.08),
 (b'346358', 0.0, 0.32),
 (b'346359', 0.0, 0.4)]

In [116]:
for row in out_table:
    print(row.fetch_all_fields())

(b'335651', 0.0, 0.02, 1)
(b'335652', 0.0, 0.09, 1)
(b'335654', 0.0, 9.0, 1)
(b'335656', 0.0, 0.03, 1)
(b'346350', 0.0, 0.22, 1)
(b'346351', 0.0, 0.21, 1)
(b'346352', 0.0, 0.08, 1)
(b'346358', 0.0, 0.32, 1)
(b'346359', 0.0, 0.4, 1)

In [118]:
out_table.colnames = table.colnames

In [120]:
out_table.flush

<bound method Table.flush of /step_1/values (Table(9,)) ''
  description := {
  "f0": StringCol(itemsize=6, shape=(), dflt=b'', pos=0),
  "f1": Float64Col(shape=(), dflt=0.0, pos=1),
  "f2": Float64Col(shape=(), dflt=0.0, pos=2),
  "f3": Int32Col(shape=(), dflt=0, pos=3)}
  byteorder := 'little'
  chunkshape := (2520,)>

In [121]:
out_table

/step_1/values (Table(9,)) ''
  description := {
  "f0": StringCol(itemsize=6, shape=(), dflt=b'', pos=0),
  "f1": Float64Col(shape=(), dflt=0.0, pos=1),
  "f2": Float64Col(shape=(), dflt=0.0, pos=2),
  "f3": Int32Col(shape=(), dflt=0, pos=3)}
  byteorder := 'little'
  chunkshape := (2520,)

In [122]:
import numpy

In [123]:
table.description

{
  "catchment": StringCol(itemsize=10, shape=(), dflt=b'', pos=0),
  "concentration": Float64Col(shape=(), dflt=0.0, pos=1),
  "discharge": Float64Col(shape=(), dflt=0.0, pos=2),
  "timestep": Int32Col(shape=(), dflt=0, pos=3)}

In [124]:
 test.create_table?

In [125]:
res

[(b'335651', 0.0, 0.02),
 (b'335652', 0.0, 0.09),
 (b'335654', 0.0, 9.0),
 (b'335656', 0.0, 0.03),
 (b'346350', 0.0, 0.22),
 (b'346351', 0.0, 0.21),
 (b'346352', 0.0, 0.08),
 (b'346358', 0.0, 0.32),
 (b'346359', 0.0, 0.4)]

In [128]:
desc = [('catchment', 'S10'), ('concentration', numpy.float64), ('discharge', numpy.float64)]

In [129]:
numpy.array(res, dtype=desc)

array([(b'335651', 0.0, 0.02), (b'335652', 0.0, 0.09),
       (b'335654', 0.0, 9.0), (b'335656', 0.0, 0.03),
       (b'346350', 0.0, 0.22), (b'346351', 0.0, 0.21),
       (b'346352', 0.0, 0.08), (b'346358', 0.0, 0.32),
       (b'346359', 0.0, 0.4)],
      dtype=[('catchment', 'S10'), ('concentration', '<f8'), ('discharge', '<f8')])

In [130]:
out_table = test.create_table(group, 'values2', numpy.array(res, dtype=desc))

In [131]:
out_table.flush()

In [132]:
out_table

/step_1/values2 (Table(9,)) ''
  description := {
  "catchment": StringCol(itemsize=10, shape=(), dflt=b'', pos=0),
  "concentration": Float64Col(shape=(), dflt=0.0, pos=1),
  "discharge": Float64Col(shape=(), dflt=0.0, pos=2)}
  byteorder := 'little'
  chunkshape := (2520,)

In [133]:
test.close()

In [ ]:
h5_file.close()

In [140]:
(8760 * 4.5) / 3600

10.95

In [139]:
10 * 100 / 60

16.666666666666668

In [160]:
t = table.cols.timestep

In [ ]:
t.remove_index()

In [163]:
t.create_csindex()

78840

In [166]:
s1 = table.read_sorted('timestep', start=0, stop=8760)

In [167]:
s1

array([(b'335651', 0.0, 0.02, 1), (b'346352', 0.0, 0.08, 1),
       (b'335656', 0.0, 0.03, 1), ..., (b'346359', 11.7932, 0.19, 974),
       (b'335656', 11.7932, 0.01, 974), (b'335651', 11.7932, 0.02, 974)],
      dtype=[('catchment', 'S10'), ('concentration', '<f8'), ('discharge', '<f8'), ('timestep', '<i4')])

In [170]:
s1 = table.read_sorted('timestep', start=0, stop=9)

In [174]:
s1[['catchment', 'concentration']]

array([(b'335651', 0.0), (b'346352', 0.0), (b'335656', 0.0),
       (b'346359', 0.0), (b'335652', 0.0), (b'346350', 0.0),
       (b'335654', 0.0), (b'346358', 0.0), (b'346351', 0.0)],
      dtype=[('catchment', 'S10'), ('concentration', '<f8')])

In [176]:
len(set(table.cols.catchment))

9

In [177]:
ids = set()
for id_ in table.cols.catchment:
    ids.add(id_)

In [183]:
nids = len(ids)

In [179]:
total=365*24

In [184]:
total * nids

78840

In [182]:
table.nrows / 9

8760.0

In [187]:
set(s1['timestep'])

{1}

In [188]:
t

/output.cols.timestep (Column(78840,), int32, idx=Index(9, full, shuffle, zlib(1)).is_csi=True)

In [189]:
t.is_indexed

True

In [191]:
t.is_indexed?

In [193]:
t.index.is_csi

True

In [194]:
data = table.read_sorted('timestep')

In [195]:
data[:9]

array([(b'335651', 0.0, 0.02, 1), (b'346352', 0.0, 0.08, 1),
       (b'335656', 0.0, 0.03, 1), (b'346359', 0.0, 0.4, 1),
       (b'335652', 0.0, 0.09, 1), (b'346350', 0.0, 0.22, 1),
       (b'335654', 0.0, 9.0, 1), (b'346358', 0.0, 0.32, 1),
       (b'346351', 0.0, 0.21, 1)],
      dtype=[('catchment', 'S10'), ('concentration', '<f8'), ('discharge', '<f8'), ('timestep', '<i4')])

In [13]:
data[9:18]

NameError: name 'data' is not defined

In [1]:
 1% 2

1

In [2]:
1 % 2

1

In [3]:
0% 2

0

In [10]:
4 * 8 * 16000 * 8760 / (1024 **3)

4.177093505859375

In [6]:
8 **6

262144

In [9]:
2 ** 11

2048

In [12]:
15 / 100 * 8760 / 60

21.9

In [1]:
import tables

In [2]:
h5_file = tables.open_file(r'c:\Daten\Mike\projekte\2015_006_crosswater\rhine_model\output\catchment_output_small_2.h5', mode='r')

In [3]:
table = h5_file.get_node('/output')

In [4]:
data = table.read_sorted('timestep')

In [7]:
end = len(data)

In [8]:
data = table.read_sorted('timestep', start=end-10, stop=end+50)

In [9]:
len(data)

60

In [10]:
data

array([(b'335654', 11.7932, 5.43, 8759),
       (b'346358', 12.088033, 0.19, 8760),
       (b'346350', 12.825206, 0.14, 8760),
       (b'335654', 11.7932, 5.43, 8760),
       (b'346351', 12.478679099999999, 0.13, 8760),
       (b'335656', 11.827771, 0.03, 8760),
       (b'346352', 11.7932, 0.06, 8760),
       (b'335651', 11.8582407, 0.03, 8760),
       (b'335652', 11.8247245, 0.15, 8760),
       (b'346359', 12.167196, 0.25, 8760), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1), (b'335651', 0.0, 0.02, 1),
       (b'335651', 0.0, 0.02, 1)],
      dtype=[('catchment', 'S10'), ('concentration', '<f8'), ('discharge', '<f8'), ('timestep', '<i4')])

In [11]:
table.cols.timestep.create_csindex?

In [13]:
'{:.2f}'.format(345.788787)

'345.79'

In [14]:
import time

In [15]:
time.mktime?

In [16]:
time.struct_time?

In [17]:
time.process_time?

In [21]:
divmod(34, 30)

(1, 4)

In [22]:
from collections import namedtuple

In [24]:
t = namedtuple('t', ['a', 'b', 'c'])

In [27]:
x = t(1, 2, 3)

In [28]:
x[0]

1

In [29]:
x.a

1

In [30]:
1.68787

1.68787

In [31]:
divmod(1.67, 1)

(1.0, 0.6699999999999999)

In [32]:
divmod(10.67, 10)

(1.0, 0.6699999999999999)

In [33]:
divmod(0.676, 0.1)

(6.0, 0.07600000000000001)

In [35]:
'{:0{w}d}'.format(10, w=5)

'00010'

In [36]:
'{:{total_width}d}/{:{total_width}d}'.format(5, 657697, total_width=10)

'         5/    657697'

In [37]:
import time

In [38]:
%timeit time.sleep(0.1)

10 loops, best of 3: 109 ms per loop

In [39]:
%timeit time.sleep(0.01)

100 loops, best of 3: 15.6 ms per loop

In [40]:
%timeit time.sleep(0.001)

100 loops, best of 3: 15.6 ms per loop

In [41]:
%timeit time.sleep(0.0001)

The slowest run took 781.58 times longer than the fastest. This could mean that an intermediate result is being cached
1000000 loops, best of 3: 385 ns per loop

In [50]:
%timeit time.sleep(0.0001)

The slowest run took 84.55 times longer than the fastest. This could mean that an intermediate result is being cached
1000000 loops, best of 3: 374 ns per loop

In [54]:
from time import sleep

1 s

In [55]:
%%timeit
for x in range(1):
    sleep(1)

1 loops, best of 3: 1.01 s per loop

100 ms

In [52]:
%%timeit
for x in range(10):
    sleep(0.1)

1 loops, best of 3: 1.09 s per loop

10 ms

In [53]:
%%timeit
for x in range(100):
    sleep(0.01)

1 loops, best of 3: 1.56 s per loop

5 ms

In [47]:
%%timeit
for x in range(500):
    time.sleep(0.005)

1 loops, best of 3: 7.8 s per loop

1 ms

In [44]:
%%timeit
for x in range(1000):
    time.sleep(0.001)

1 loops, best of 3: 15.6 s per loop

100 ns

In [45]:
%%timeit
for x in range(10000):
    time.sleep(0.0001)

100 loops, best of 3: 3.76 ms per loop

In [46]:
time.__format__

In [57]:
8760 * 18000 / 1e6

157.68

In [58]:
from multiprocessing import cpu_count

In [59]:
cpu_count()

4

In [62]:
from collections import defaultdict

In [63]:
defaultdict?

In [65]:
import sys

In [71]:
sys.path.append(r'c:\Daten\Mike\projekte\2015_006_crosswater\crosswater')

In [72]:
sys.path

['',
 'c:\\Daten\\Mike\\projekte\\modglue\\source',
 'c:\\Daten\\Mike\\projekte\\dev',
 'c:\\Daten\\Mike\\projekte\\dev\\pitlakq',
 'c:\\Daten\\Mike\\projekte\\dev\\phreeqpy',
 'C:\\Users\\Mike\\Miniconda3\\envs\\crosswater\\python34.zip',
 'C:\\Users\\Mike\\Miniconda3\\envs\\crosswater\\DLLs',
 'C:\\Users\\Mike\\Miniconda3\\envs\\crosswater\\lib',
 'C:\\Users\\Mike\\Miniconda3\\envs\\crosswater',
 'C:\\Users\\Mike\\Miniconda3\\envs\\crosswater\\lib\\site-packages',
 'C:\\Users\\Mike\\Miniconda3\\envs\\crosswater\\lib\\site-packages\\setuptools-18.0.1-py3.4.egg',
 'C:\\Users\\Mike\\Miniconda3\\envs\\crosswater\\lib\\site-packages\\IPython\\extensions',
 'c:\\Daten\\Mike\\projekte\\2015_006_crosswater\\crosswater']

In [195]:
import imp
f_name = r'c:\Daten\Mike\projekte\2015_006_crosswater\Daten\GIS\CATCHMENTS_Rhine.dbf'
import crosswater.routing_model.routing as rout

In [197]:
imp.reload(rout)
con = rout.Connections(f_name)

In [198]:
con.counts

ncon   | count
==============
1      |  1531
2      |  5081
3      |  1439
4      |   394
5      |    92
6      |    20
7      |     6
8      |     4

In [199]:
up_con = rout.Connections(f_name, direction='up')

In [200]:
up_con.counts

ncon   | count
==============
1      | 18240

In [202]:
from crosswater.preprocessing.hdf_input import read_dbf_cols

In [212]:
col_names = ['AREA', 'AREA_UPSTR', 'NEXTDOWNID', 'WSO1_ID']
cols = read_dbf_cols(f_name, col_names)
ids = cols.pop( 'WSO1_ID')
df = pd.DataFrame(cols, index=ids)

In [216]:
df.AREA.sum()

160221370000.0

In [217]:
df.AREA_UPSTR.sum()

25073558080000.0

In [218]:
df.head()

            AREA  AREA_UPSTR  NEXTDOWNID
346352   3610000     3610000      346382
346350   8560000   169940000      346351
346351   8040000   252730000      346359
346358   6040000     6040000      346422
346359  15410000   277900000      346532

In [222]:
sel = df[df.NEXTDOWNID == 346350]
sel

            AREA  AREA_UPSTR  NEXTDOWNID
346373  13840000    13840000      346350
346349  15660000   147540000      346350

In [228]:
sel.AREA.sum() / 1e6

29.5

In [231]:
df.ix[346350].AREA_UPSTR /1e6

169.94

In [235]:
c1 = df.ix[346382]

In [233]:
c0 = df.ix[346352]

In [234]:
c0

AREA          3610000
AREA_UPSTR    3610000
NEXTDOWNID     346382
Name: 346352, dtype: float64

In [236]:
c1

AREA           2910000
AREA_UPSTR    55050000
NEXTDOWNID      346653
Name: 346382, dtype: float64

In [238]:
c1.AREA + c0.AREA

6520000.0

In [239]:
up = df[df.NEXTDOWNID == 346382]

In [245]:
up.AREA_UPSTR.sum() + c1.AREA == c1.AREA_UPSTR

True

In [243]:
up

           AREA  AREA_UPSTR  NEXTDOWNID
346352  3610000     3610000      346382
346273  3360000    48530000      346382

In [256]:
level_0 = df[df.AREA == df.AREA_UPSTR]

In [248]:
len(df)

18240

In [254]:
df.AREA.sum() / 1e9

160.22137000000001

In [255]:
df.AREA_UPSTR.sum() /1e9

25073.558079999999

In [257]:
level_0.AREA.sum() == level_0.AREA_UPSTR.sum()

True

In [260]:
df.AREA_UPSTR.max() == df.AREA.sum()

True

In [264]:
root = df[df.AREA_UPSTR == df.AREA_UPSTR.max()]

In [263]:
df[df.NEXTDOWNID==324498]

             AREA    AREA_UPSTR  NEXTDOWNID
324482   57090000  1.599694e+11      324498
324496  126700000  1.586300e+08      324498

In [277]:
child1 = df[df.NEXTDOWNID.isin(root.index)]
child1

             AREA    AREA_UPSTR  NEXTDOWNID
324482   57090000  1.599694e+11      324498
324496  126700000  1.586300e+08      324498

In [278]:
child2 = df[df.NEXTDOWNID.isin(child1.index)]
child2

            AREA    AREA_UPSTR  NEXTDOWNID
324497  87690000  8.769000e+07      324482
324542  16770000  1.677000e+07      324496
324549  15160000  1.516000e+07      324496
324501   7440000  1.598246e+11      324482

In [279]:
child3 = df[df.NEXTDOWNID.isin(child2.index)]
child3

           AREA    AREA_UPSTR  NEXTDOWNID
324520  5930000  1.598128e+11      324501
324517  4450000  4.450000e+06      324501

In [280]:
child4 = df[df.NEXTDOWNID.isin(child3.index)]
child4

           AREA    AREA_UPSTR  NEXTDOWNID
324529  2860000  1.598038e+11      324520
324531  3080000  3.080000e+06      324520

In [281]:
child5 = df[df.NEXTDOWNID.isin(child4.index)]
child5

            AREA    AREA_UPSTR  NEXTDOWNID
324534  11870000  1.596768e+11      324529
324532  40530000  1.241100e+08      324529

In [282]:
child6 = df[df.NEXTDOWNID.isin(child5.index)]
child6

            AREA    AREA_UPSTR  NEXTDOWNID
324607  66190000  6.619000e+07      324532
324609  17390000  1.739000e+07      324532
324546  47030000  4.703000e+07      324534
324611  23280000  1.596179e+11      324534

In [283]:
child7 = df[df.NEXTDOWNID.isin(child6.index)]
child7

            AREA    AREA_UPSTR  NEXTDOWNID
324614  30540000  3.054000e+07      324611
324621  25870000  1.595641e+11      324611

In [284]:
child8 = df[df.NEXTDOWNID.isin(child7.index)]
child8

            AREA    AREA_UPSTR  NEXTDOWNID
324675  76960000  7.696000e+07      324621
324689   8680000  1.594282e+11      324621
324660  24470000  3.299000e+07      324621

In [285]:
child9 = df[df.NEXTDOWNID.isin(child8.index)]
child9

            AREA    AREA_UPSTR  NEXTDOWNID
324694   2080000  2.080000e+06      324660
324745  93330000  9.333000e+07      324689
324748   2160000  2.160000e+06      324689
324706   2280000  2.280000e+06      324660
324705   4160000  4.160000e+06      324660
324757   6460000  1.593241e+11      324689

In [286]:
child10 = df[df.NEXTDOWNID.isin(child9.index)]
child10

           AREA    AREA_UPSTR  NEXTDOWNID
324764  4670000  1.593176e+11      324757

In [287]:
child11 = df[df.NEXTDOWNID.isin(child10.index)]
child11

            AREA    AREA_UPSTR  NEXTDOWNID
324778   5710000  5.710000e+06      324764
324727  16510000  1.651000e+07      324764
324775   4480000  1.592907e+11      324764

In [290]:
pd.read_sql_table?